<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tutorials</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mvc.styles.css" asp-append-version="true" />
</head>
<body>
<div class="d-flex " id="wrapper">
      <!-- Sidebar-->
      <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="list-group list-group-flush">                 
          <a
            class="list-group-item list-group-item-action  p-2"
            
            >Introduction</a
          >
          <a
            class="list-group-item list-group-item-action p-2"
            
            >Definition</a
          >
          <a
            class="list-group-item list-group-item-action  p-2"
            
            >HTML Basic</a
          >
          <a
            class="list-group-item list-group-item-action  p-2"
            
            >HTML Tags</a
          >
          <a
            class="list-group-item list-group-item-action  p-2"
            
            >HTML Elements</a
          >
          <a
            class="list-group-item list-group-item-action  p-2"
            
            >HTML Form</a
          >
          <a
            class="list-group-item list-group-item-action  p-2"
            
            >HTML Media</a
          >
          <a
            class="list-group-item list-group-item-action  p-2"
            
            >HTML Graphics</a
          >
          <a
            class="list-group-item list-group-item-action p-2"
            
            >HTML References</a
          >
          <a
            class="list-group-item list-group-item-action p-2"
            href="#!"
            >HTML Div</a
          >
          <a
            class="list-group-item list-group-item-action p-2"
            href="#!"
            >HTML Classes</a
          >
          <a
            class="list-group-item list-group-item-action p-2"
            href="#!"
           >HTML MCQ</a
          >
          <a
            class="list-group-item list-group-item-action p-2"
            href="#!"
            >HTML Examples</a
          >
      </div>
        </div>
      </div>
</body>
</html>


